/**
 * @package 	WordPress
 * @subpackage 	Hotel LUX
 * @version 	1.0.0
 * 
 * WP-PostRating CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------*/
/*	1.	Main Styles */
/*-------------------------------------------------------------------------*/

.cmsmasters_rating {
  font-size:0;
  height:30px;
  overflow: hidden;
  position: relative;
}

.cmsmasters_rating img {
	padding-left:3px;
}

.cmsmasters_rating img:first-child {
	padding-left:0;
}

.cmsmasters_rating .post-ratings-loading {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.project_details_item_desc.cmsmasters_rating .post-ratings {
  width: auto;
  display: inline-block;
}

.project_details_item_desc.cmsmasters_rating .post-ratings-loading {
  left: auto;
  right: 0;
}


/*-------------------------------------------------------------------------*/
/*	2. RTL Styles */
/*-------------------------------------------------------------------------*/

.rtl .project_details_item_desc.cmsmasters_rating .post-ratings-loading {
  left: 0;
  right: auto;
}

.rtl .cmsmasters_rating img {
	padding-right:3px;
	padding-left:0;
}

.rtl .cmsmasters_rating img:first-child {
	padding-right:0;
}